<h1>Смена статуса закупки</h1>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div [formGroup]="formData">
    <app-revert-to-procedure-info class="card"
      [formElement]="procedureInfo"></app-revert-to-procedure-info>

    <app-revert-to-procedure-change-options class="card"
      [formElement]="procedureChangeOptions"
      [requestId]="requestId"
    ></app-revert-to-procedure-change-options>

    <div class="card" [hidden]="requestHidden">
      <div class="card-header">
        Статусы заявок
      </div>
      <div class="card-body">
          <app-revert-to-procedure-requests
            [form]="procedureRequests"
          ></app-revert-to-procedure-requests>
      </div>
    </div>

    <div class="card" [hidden]="hidden">
      <div class="card-header">
        Ценовые предложения
      </div>
      <div class="card-body">
        <app-revert-to-request-offer
          [form]="procedureOffers"
        ></app-revert-to-request-offer>
      </div>
    </div>

    <app-revert-to-time-limits [formElement]="timeLimits" class="card"></app-revert-to-time-limits>

    <app-revert-to-extra-conditions [formElement]="extraConditions" class="card"></app-revert-to-extra-conditions>

    <div class="card">
      <div class="card-header">
        Прикрепляемые документы
      </div>
      <app-revert-to-documents class="card-body" [formElement]="documents"></app-revert-to-documents>
    </div>

  </div>
  <div class="col-12">
    <input type="submit" value="OK" (blur)="clearSummaryErrorMessage()" class="float-right">
    <div class="float-left alert-danger" *ngIf="summaryErrorMessage">{{summaryErrorMessage}}</div>
  </div>
</form>
