<h1>Смена статуса закупки</h1>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div [formGroup]="formData">
    <app-revert-to-procedure-info class="card"
      [formElement]="procedureInfo" [elementData]="revertToS.procedureInfo"></app-revert-to-procedure-info>

    <div class="card" [formGroup]="procedureChangeOptions">
      <div class="card-header">
        Выбор статуса и отменяемые протоколы
      </div>
      <div class="card-body">
        <div class="form-group">
          <label for="field__7">Новый статус закупки</label>
          <app-fer-select
                  [elementClass]="'form-control'"
                  [formElement]="procedureChangeOptions.controls['targetStatus']"
                  [id]="'field__7'"
                  [elementData]="revertToS.procedureChangeOptions.targetStatus"
          ></app-fer-select>
        </div>
        <div class="form-group">
          <label>Отменяемые протоколы</label>

          <app-fer-multi-checkbox
                  [elementData]="revertToS.procedureChangeOptions.protocols"
                  [id]="'procedureChangeOptions__protocols'"
                  [formElement]="procedureChangeOptions.controls['protocols']"
                  [mode]="'view'"
                  [wrapCheckboxClass]="'custom-control custom-checkbox'"
                  [checkboxLabelClass]="'custom-control-label'"
          ></app-fer-multi-checkbox>
        </div>
        <div class="form-group">
          <label>Документ-основание для отмены протокола</label>

          <app-fer-radio
                  [formElement]="procedureChangeOptions.controls['documentReason']"
                  [id]="'procedureChangeOptions__documentReason'"
                  [elementData]="revertToS.procedureChangeOptions.documentReason"
          ></app-fer-radio>
        </div>
        <div class="form-group" *ngIf="documentReasonFAS()">
          <label>Данные о предписании из реестра результатов контроля</label>

          <app-fer-radio
                  [formElement]="procedureChangeOptions.controls['instructionData']"
                  [id]="'procedureChangeOptions__instructionData'"
                  [elementData]="revertToS.procedureChangeOptions.instructionData"
          ></app-fer-radio>

          <div class="form-group row mt-3" *ngIf="controlNumber.status != 'DISABLED'">
            <label for="procedureChangeOptions__controlNumber" class="col-md-5 col-form-label">
              Номер результата контроля по предписанию
            </label>
            <div class="col-md-7">
              <input type="text" class="form-control col-md-6" id="procedureChangeOptions__controlNumber" formControlName="controlNumber">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        Статусы заявок
      </div>
      <div class="card-body">
          <app-revert-to-procedure-requests
            [form]="procedureRequests"
            [elementData]="revertToS.procedureRequests"
          ></app-revert-to-procedure-requests>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        Ценовые предложения
      </div>
      <div class="card-body">
        <table class="table table-bordered">
          <thead>
          <tr>
            <th scope="col">Номер заявки участника</th>
            <th scope="col">Наименование участника</th>
            <th scope="col">Предложенная цена (руб)</th>
            <th scope="col">Тип ценового предложения</th>
            <th scope="col">Дата и время подачи предложения</th>
            <th scope="col">Выбрать</th>
            <th scope="col">Действует/Удалено</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>1</td>
            <td>Компания 1</td>
            <td>3000.00</td>
            <td>На понижение</td>
            <td>03.10.2017/13:03:00 (MSK+00:00)</td>
            <td class="text-center">
              <div class="custom-control custom-checkbox custom-control-inline mr-0">
                <input type="checkbox" id="table_checkbox__1" class="custom-control-input">
                <label class="custom-control-label" for="table_checkbox__1"></label>
              </div>
            </td>
            <td>Действует</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Компания 2</td>
            <td>3100.00</td>
            <td>На понижение</td>
            <td>04.10.2017/14:04:00 (MSK+00:00)</td>
            <td class="text-center">
              <div class="custom-control custom-checkbox custom-control-inline mr-0">
                <input type="checkbox" id="table_checkbox__2" class="custom-control-input">
                <label class="custom-control-label" for="table_checkbox__2"></label>
              </div>
            </td>
            <td>Удалено</td>
          </tr>
          </tbody>
        </table>

        <div class="form-group">
          <button type="button" class="btn btn-primary">Удалить выбранные</button>
          <button type="button" class="btn btn-primary">Отменить удаление для выбранных</button>
        </div>
      </div>
    </div>

    <app-revert-to-time-limits [formElement]="timeLimits" [elementData]="revertToS.timeLimits" class="card"></app-revert-to-time-limits>

    <app-revert-to-extra-conditions [formElement]="extraConditions" [elementData]="revertToS.extraConditions" class="card"></app-revert-to-extra-conditions>

    <div class="card">
      <div class="card-header">
        Прикрепляемые документы
      </div>
      <app-revert-to-documents class="card-body" [formElement]="documents"></app-revert-to-documents>
      <!--<div class="card-body">-->
        <!--<p>Стандартный блок прикрепления документов..</p>-->
      <!--</div>-->
    </div>

  </div>
  <div class="col-12">
    <input type="submit" value="OK" (blur)="clearSummaryErrorMessage()" class="float-right">
    <div class="float-left alert-danger" *ngIf="summaryErrorMessage">{{summaryErrorMessage}}</div>
  </div>
</form>
