<div class="card-header">
  Регламентированные сроки
</div>
<div class="card-body">
  <div class="form-group row">
    <label class="col-md-6 col-form-label mt-4">
      Дата и время окончания срока подачи заявок
    </label>
    <div class="col-md-3">
      <label>Текущие</label>
      <ngx-form-control-text [formElement]="formElement.controls['oldRequestEndGiveDateTime']"
                    [id]="'timeLimits__requestEndGiveDateTime'" [mode]="'view'"></ngx-form-control-text>
    </div>
    <div class="col-md-3">
      <label>Новые</label>
      <app-date-time-formcontrol
        [id]="'timeLimits__requestEndGiveDateTime'"
        [formElement]="formElement.controls['requestEndGiveDateTime']"
      ></app-date-time-formcontrol>
    </div>

  </div>
  <div class="form-group row">
    <label class="col-md-6 col-form-label">
      Дата окончания срока рассмотрения заявок
    </label>
    <div class="col-md-3">
      <ngx-form-control-text [formElement]="formElement.controls['oldRequestReviewDateTime']"
                    [id]="'timeLimits__requestReviewDateTime'" [mode]="'view'"></ngx-form-control-text>
    </div>
    <div class="col-md-3">
      <app-date-time-formcontrol
        [id]="'timeLimits__requestReviewDateTime'"
        [formElement]="formElement.controls['requestReviewDateTime']"
      ></app-date-time-formcontrol>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-6 col-form-label">
      Дата и время проведения электронного аукциона
    </label>
    <div class="col-md-3">
      <ngx-form-control-text [formElement]="formElement.controls['oldConditionalHoldingDateTime']"
                    [id]="'timeLimits__conditionalHoldingDateTime'" [mode]="'view'"></ngx-form-control-text>
    </div>
    <div class="col-md-3">
      <app-date-time-formcontrol
        [id]="'timeLimits__conditionalHoldingDateTime'"
        [formElement]="formElement.controls['conditionalHoldingDateTime']"
      ></app-date-time-formcontrol>
    </div>
  </div>
</div>
