<div class="card-header">
  Регламентированные сроки
</div>
<div class="card-body">
  <div class="form-group row">
    <label class="col-md-6 col-form-label mt-4">
      Дата и время окончания срока подачи заявок
    </label>
    <div class="col-md-3">
      <label>Текущие</label>
      <ngx-form-control-text [formElement]="formElement.controls['oldRequestEndGiveDateTime']"
                             [id]="'timeLimits__oldRequestEndGiveDateTime'" [mode]="'view'"></ngx-form-control-text>
    </div>
    <div class="col-md-3">
      <label>Новые</label>
      <app-request-end-give-date-time
        [formElement]="formElement.controls['requestEndGiveDateTime']"
      ></app-request-end-give-date-time>
    </div>

  </div>
  <div class="form-group row">
    <label class="col-md-6 col-form-label">
      Дата окончания срока рассмотрения заявок
    </label>
    <div class="col-md-3">
      <ngx-form-control-text [formElement]="formElement.controls['oldRequestReviewDateTime']"
                             [id]="'timeLimits__oldRequestReviewDateTime'" [mode]="'view'"></ngx-form-control-text>
    </div>
    <div class="col-md-3">
      <app-request-review-date-time
        [formElement]="formElement.controls['requestReviewDateTime']"
      ></app-request-review-date-time>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-6 col-form-label">
      Дата и время проведения электронного аукциона
    </label>
    <div class="col-md-3">
      <ngx-form-control-text [formElement]="formElement.controls['oldConditionalHoldingDateTime']"
                             [id]="'timeLimits__oldConditionalHoldingDateTime'" [mode]="'view'"></ngx-form-control-text>
    </div>
    <div class="col-md-3">
      <app-conditional-holding-date-time
        [formElement]="formElement.controls['conditionalHoldingDateTime']"
      ></app-conditional-holding-date-time>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-6 col-form-label">
      Дата и время подведения итогов
    </label>
    <div class="col-md-3">
      <ngx-form-control-text [formElement]="formElement.controls['oldResultDateTime']"
                             [id]="'timeLimits__oldResultDateTime'" [mode]="'view'"></ngx-form-control-text>
    </div>
    <div class="col-md-3">
      <app-result-date-time
        [formElement]="formElement.controls['resultDateTime']"
      ></app-result-date-time>
    </div>
  </div>
</div>
