<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4  col-sm-6 col-xs-12">
                <span class="g_time">
                    Серверное время:
                    <span class="dateTime-container" id="serverDateTime">10.12.2017 02:13:40 (MSK+00:00)</span>
                </span>
            </div>
            <div class="col-lg-8 col-md-8  col-sm-6 col-xs-12 g__phone text-right">
                <a href="/procedure/supportRequest/add" class="g__support__link ">
                    <span class="glyphicon glyphicon-envelope"></span>
                    <span>Поддержка</span>
                </a>
                <a href="tel:88007775757" class="g_tel">8 800 777 57 57 </a>
            </div>
        </div>
    </div>
</header>