<header>
    <app-top-header></app-top-header>
    <app-top-menu></app-top-menu>
</header>
<div id="content" class="test">
    <div class="container-fluid">
        <!--<router-outlet>Контент блабла бла</router-outlet>-->
    </div>
    <div class="clearfix"></div>
</div>
<div class="footer" style="position:fixed;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-4 g__logos">
                    <img src="/assets_rad3/img/Sberbank.svg" alt=""><span
                        style="color:#fff;padding:0 10px;">партнер</span><img src="/assets_rad3/img/logo2.svg" alt="">
                </div>
                <div class="copy">
                    &copy; 2010-2017 Российский аукционный дом &ndash; всероссийская универсальная электронная площадка<br>8 800
                    777 5757 (звонок по России бесплатный)<br><a href="/procedure/supportRequest/add">Обращение в техподдержку</a>
                </div>
            </div>
        </div>
    </div>
</div>
