<div class="card-header">
  Дополнительные условия
</div>
<div class="card-body">
  <div class="form-group">
      <ngx-form-control-checkbox
        class="custom-control custom-checkbox"
        [formElement]="formElement.controls['publishEvent']"
        [id]="'field__18_1'"
        [label]="'Публиковать событие смены статуса'"
      ></ngx-form-control-checkbox>

      <ngx-form-control-checkbox
        class="custom-control custom-checkbox"
        [formElement]="formElement.controls['notifyMembers']"
        [id]="'field__18_22'"
        [label]="'Отправлять организатору, заказчику и участнику уведомление о смене статуса/отмене протокола'"
      ></ngx-form-control-checkbox>
  </div>
</div>

