<div class="container">
    <div class="row">
        <div class="col-sm-4">Серверное время: <span class="dateTime-container" id="serverDateTime"></span></div>
        <div class="col-sm-8 text-right">
            <a href="/procedure/supportRequest/add" class="g__support__link <?php if (!$isGHomePage): ?>g__support__link--green<?php endif; ?>">
                <span class="glyphicon glyphicon-envelope"></span>
                <span>Поддержка</span>
            </a>
            <a href="tel:88007775757" class="g_tel">8 800 777 57 57 </a>
        </div>
    </div>
</div>