@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~flatpickr/dist/flatpickr.min.css";

@import "assets/css/common.css";
@import "assets/css/layout.css";
@import "assets/css/form.css";
@import "assets/css/green_demo.css";
@import "assets/css/highlight.css";
@import "assets/css/selectize.default.css";
@import "assets/css/ag-grid.css";
@import "assets/css/ag-theme-fresh.css";
@import "assets/css/theme-fresh.css";
@import "assets/css/compiled-icons.css";
@import "assets/css/font-awesome.min.css";

body {
    min-width: 0;
}

.form-control-error-item {
  color: #f00;
  font-size: small;
}
