<div class="g__nav">
    <div class="container">
        <div class="row">
          <div class="col-md-3">
            <div class="nav">
              <div class="floatLeft header-logo g__header-logo">
                <a href="/" title="Главная страница" target="_self">
                  <img src="assets/img/logo.png" alt="Главная страница">
                </a>
              </div>
              <div class="floatRight header-block">
                <div class="pull-right">
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-9">
            <div class="row">
              <div class="col-md-10">
                <nav class="desktop-nav">
                  <ul class="navigation g__navigation">
                    <app-navbar-item *ngFor="let item of menuItems" [item]="item" [level]="level">
                    </app-navbar-item>
                  </ul>
                </nav>
              </div>
              <div class="col-md-1">
                <nav class="pull-right">
                  <ul class="navigation g__navigation">
                    <li class="g__enter" *ngIf="user === 'guest'">
                      <a href="/admin/account/access/login/">Войти</a>
                      <ul class="g__user-is-active">
                        <li><a href="admin/account/access/login/">Войти по логину и паролю</a></li>
                        <li><a href="admin/account/access/login-ecp/">Войти по электронной подписи</a></li>
                        <li>
                          <a href="account/access/password-recovery/"
                             target="_blank">Восстановление пароля</a></li>
                      </ul>
                    </li>
                    <li class="g__enter" *ngIf="user !== 'guest'">
                      <a href="/logout">Выйти</a>
                      <ul class="g__navigation__nav--sub g__user-is-active">
                        <li>
                          <span>{{user}}</span>
                        </li>
                        <li>
                          <span title="{{fullName}}">{{fullName}}</span>
                        </li>
                        <li>
                          <span id="userDateTime" class="dateTime-container">
                            {{ time | customDate:"dd.LL.yyyy HH:mm:ss" : timezone }}
                          </span>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>


        </div>
    </div>
</div>
