<div class="g__nav">
    <div class="container">
        <div class="row">
            <nav class="navbar navbar-expand-md navbar-dark">
                <a class="navbar-brand" href="#">РАД</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Главная</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Закупки</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Реестры</a>
                        </li>
                        <li class="nav-item dropdown" ngbDropdown>
                            <a class="nav-link dropdown-toggle" ngbDropdownToggle>Участникам</a>
                            <div class="dropdown-menu" ngbDropdownMenu>
                                <a class="dropdown-item" href="#">Аккредитация</a>
                                <a class="dropdown-item" href="#">Регистрация доверенности</a>
                                <a class="dropdown-item" href="#">Плагин Независимый Регистратор</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Документация</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/services" routerLinkActive="active">Услуги</a>
                        </li>
                        <li class="nav-item dropdown" ngbDropdown>
                            <a class="nav-link dropdown-toggle" ngbDropdownToggle>Lazy Load</a>
                            <div class="dropdown-menu" ngbDropdownMenu>
                                <a class="dropdown-item" routerLink="/lazy-load" routerLinkActive="active">Section</a>
                                <a class="dropdown-item" routerLink="/lazy-load/children" routerLinkActive="active">Children</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown" ngbDropdown>
                            <a class="nav-link dropdown-toggle" ngbDropdownToggle>Управление закупкой</a>
                            <div class="dropdown-menu" ngbDropdownMenu>
                                <a class="dropdown-item" routerLink="/ea-procedure" routerLinkActive="active">Возврат статуса закупки</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>