<div class="card-header">
  Информация о закупке
</div>
<div class="card-body">
  <div class="form-group row">
    <label for="procedureInfo__registrationNumber" class="col-sm-4 col-form-label">Номер извещения</label>
    <div class="col-sm-8">
      <ngx-form-control-text [formElement]="formElement.controls['registrationNumber']"
                             [id]="'procedureInfo__registrationNumber'" [mode]="'view'"></ngx-form-control-text>
    </div>
  </div>
  <div class="form-group row">
    <label for="procedureInfo__name" class="col-sm-4 col-form-label">Наименование закупки</label>
    <div class="col-sm-8">
      <ngx-form-control-text [formElement]="formElement.controls['name']"
                    [id]="'procedureInfo__name'" [mode]="'view'"></ngx-form-control-text>
    </div>
  </div>
  <div class="form-group row">
    <label for="procedureInfo__status" class="col-sm-4 col-form-label">Текущий статус закупки</label>
    <div class="col-sm-8">
      <ngx-form-control-text [formElement]="formElement.controls['status']"
                    [id]="'procedureInfo__status'" [mode]="'view'"></ngx-form-control-text>
    </div>
  </div>
  <div class="form-group row">
    <label for="procedureInfo__requestEndGiveDateTime" class="col-sm-4 col-form-label">
      Дата и время окончания срока подачи заявок
    </label>
    <div class="col-sm-8">
      <ngx-form-control-text [formElement]="formElement.controls['requestEndGiveDateTime']"
                    [id]="'procedureInfo__requestEndGiveDateTime'" [mode]="'view'"></ngx-form-control-text>
    </div>
  </div>
  <div class="form-group row">
    <label for="procedureInfo__requestReviewDateTime" class="col-sm-4 col-form-label">
      Дата окончания срока рассмотрения заявок
    </label>
    <div class="col-sm-8">
      <ngx-form-control-text [formElement]="formElement.controls['requestReviewDateTime']"
                    [id]="'procedureInfo__requestReviewDateTime'" [mode]="'view'"></ngx-form-control-text>
    </div>
  </div>
  <div class="form-group row">
    <label for="procedureInfo__conditionalHoldingDateTime" class="col-sm-4 col-form-label">
      Дата и время проведения электронного аукциона
    </label>
    <div class="col-sm-8">
      <ngx-form-control-text [formElement]="formElement.controls['conditionalHoldingDateTime']"
                    [id]="'procedureInfo__conditionalHoldingDateTime'" [mode]="'view'"></ngx-form-control-text>
    </div>
  </div>
</div>
